
process {
    cpus = 1
    memory = '6.GB'
    time = '1.h'
}

params {
    max_cpus = 1
    max_memory = '6.GB'
    max_time = '1.h'
}


profiles {

    local {
        process.executor = 'local'

        singularity.enabled = true
        singularity.autoMounts = true
    }

    myriad {
        process.executor = 'sge'
        process.penv = "smp"
        process.clusterOptions = { "-l mem=${task.memory.giga}G" }

        singularity.enabled = true
        singularity.autoMounts = true
    }

    aws {

        process.executor = 'awsbatch'
        process.queue = 'nf-queue'
        process.container = 'ubuntu'

        docker.enabled = true

	aws {
	   batch {
	      cliPath = '/home/ec2-user/miniconda/bin/aws'
//	      region = 'eu-west-2'
//	      jobQueue = 'nf-queue'
	   }
//	   client {
//	      uploadMaxRetries = 5
//	   }
	   region = 'eu-west-2'
	}
	
	wave {
	   enabled = true
//	   containerConfig {
//	      from = 'Dockerfile'
//	   }
	}	
	fusion {
	   enabled = true
	}

        workDir = 's3://lconde-nf-bucket/nf-wd/'
        //params.outdir = 's3://lconde-nf-bucket/output'

    }
}



// NOTES:

// 1- When using `awsbatch` executor an S3 bucket must be provided as working directory
// 2- The output dir doesn;t have to be an S3 bucket, if I use an S3 bucket as output, 
//      (e.g. params.outdir = 's3://lconde-nf-bucket/output'), it will
//      be created, if I dont use it, it will create the output in local. I assume the transfer
//      will be charged?
// 3- Even if the jobs are just "echo this", AWS Batch requires a Docker container environment
//      to run it. The container cab be a basic base image (ubuntu, quay.io/nextflow/bash, ..),
//      but it needs to be provided
// 4- AWS Batch does not suppoer singularity, so I need to remove it from that profile
//      (https://nfcore.slack.com/archives/C043FMKUNLB/p1695876198249719?thread_ts=1695841903.086839&cid=C043FMKUNLB)
// 5- Remember that outputdir cannot be set in the config, it has to be added as a param-file 
//      or in the command line, otherwise in the nfcore/demo I will have an outputdir folder
//      with some stuff plus a 'null' folder with the execution_trace files
